.accordion-item{
    background-color: lightgrey;
}
.accordion-button{
    background-color: darkgrey;
}
.footer{
    min-height: 200px;
}
.imgwidth-one{
    width: 25%;
}
.imgwidth-two{
    width: 50%;
}
.imgwidth-three{
    width: 75%;
}